body {
  margin: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #40514e;
}

h1 {
  margin: 50px auto 0;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 6rem;
  color: #d45d79;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', serif;
  font-size: 1.75rem;
  font-weight: normal;
  color: #d45d79;
}

h3 {
  font-family: 'Montserrat', serif;
  color: #ea9085;
}

a {
  color: #ea9085;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #6e5773;
}

hr {
  border: none;
  border-top: 7px dotted #e9e2d0;
  width: 5%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #6e5773;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding: 100px 0;
}

.bottom-container {
  background-color: #d45d79;
  padding: 50px 0 20px;
}

.underline {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  bottom: 250px;
  left: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.teamwork-img {
  float: left;
  margin: auto 30px auto 0;
}

.hairdye-img {
  float: right;
  margin: auto 0 auto 30px;
}

.profile-img {
  width: 150px;
}

.intro {
  width: 33%;
  margin: auto;
}

.contact-me {
  width: 40%;
  margin: auto;
}

.btn {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #d45d79 5%, #6e5773 100%);
  background-color: #d45d79;
  border-radius: 6px;
  border: 1px solid #6e5773;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Raleway;
  font-size: 16px;
  padding: 11px 14px;
  text-decoration: none;
  margin: 50px auto 0;
}

.btn:hover {
  background: linear-gradient(to bottom, #6e5773 5%, #d45d79 100%);
  background-color: #6e5773;
}

.btn:active {
  position: relative;
  top: 1px;
}

.footer-text {
  font-size: 0.9rem;
  color: #EAF6F6;
}

.footer-link {
  margin-left: 30px;
}
